/* Motivation text */
.motivation {
    margin-top: 1.5rem;
    font-style: italic;
    color: #888;
    text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header-title {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.header-left {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 0.25rem;
}